.cart{
    min-height: calc(100vh - 180px);
    max-height: calc(100vh - 180px);
    overflow: auto;
}

  .qty-buttons {
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
    overflow: hidden;
    /* min-height:auto; */
  }

  .qty-buttons button {
    background-color: #f0f0f0;
    border: none;
    padding: 3px 6px;
    font-size: 16px;
    cursor: pointer;
  }

  .qty-buttons button:active {
    background-color: #ddd;
  }

  .qty-count {
    padding: 3px 6px;
    min-width: 30px;
    text-align: center;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  @media (max-width: 580px) {
    .cart-flow{
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 765px) and (max-width: 1000px) {
    .cart-flow{
      display: flex;
    }
  }