/* Men.css */

.sidebar-filter {
    position: fixed;
    top: 150px;
    left: 0;
    height: calc(100vh - 30%);
    width: 250px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 0px 5px gray !important;
  }

.sidebar-filter h4{
    color: black;
}
  
.product-content {
    margin-left: 250px; /* Same as sidebar width */
    padding-top: 60px;
}

.add-btn{
    background-color: rgb(229, 144, 70) !important;
    border: none !important;
}

.card-body h6{
    font-size: large;
}

.card-body p{
    font-size:15px;
    font-weight:lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px;
}

.card-Rs{
    font-weight:bold !important;
}

.cardss p{
  width: fit-content;
}

.rating-icon{
  transform: translateY(-15%);
}

.filter-toggle-button {
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
  
.filter-modal {
    backdrop-filter: blur(4px);
}

.qty-buttons {
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
    overflow: hidden;
    /* min-height:auto; */
  }

  .qty-buttons button {
    background-color: #f0f0f0;
    border: none;
    padding: 3px 6px;
    font-size: 16px;
    cursor: pointer;
  }

  .qty-buttons button:active {
    background-color: #ddd;
  }

  .qty-count {
    padding: 3px 6px;
    min-width: 30px;
    text-align: center;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .clear-btn button:hover{
    transform:scale(1.03);
  }

  .clear-btn button{
    transition: transform 0.3s ease;
  }

@media (max-width: 770px) {
    .product-content {
        margin-left: 50px;
    }
}